* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-text: #333000;
}

@keyframes animationtext {
    0% {
        color: coral;
    }

    50% {
        color: rgba(246, 217, 0, 0.977);
    }

    100% {
        color: rgb(249, 118, 71);
    }
}

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    padding: 20px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.show {
    display: none;
}

.navbar .logo {
    font-weight: 700;
    font-size: 1.3rem;
}

.navbar .nav-item {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
    color: var(--color-text);
}

.screen {
    min-height: 100vh;
    height: auto;
    display: grid;
    place-content: center;
}

.navbar .visible {
    right: 0;
}


/* --------------------------------------home---------------------------------------- */
#home {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.home-info {}

.home-info h2 {
    font-size: 2.4rem;
    font-weight: 800;
}

.home-info h2 span {
    /* color: coral; */
    animation-name: animationtext;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    font-size: 3rem;
    font-weight: 800;
}

.stack {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.stack span {
    font-weight: 600;
}

.stack div {
    display: flex;
}

.stack div img {
    width: 50px;
    margin: 10px;
}

.home-image {
    width: 300px;
    border-radius: 50%;
}

/* --------------------------------------about---------------------------------------- */
#about {}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}

#about h2 {
    color: coral;
}

.about-info img {
    border-radius: 50%;
    width: 300px;
    border: 2px solid rgb(239, 92, 33);
}

.about-info p {
    width: 400px;
    text-align: center;
    color: rgb(129, 129, 129);
    font-size: 1.2rem;
}

/* --------------------------------------projects---------------------------------------- */
#projects h2 {
    margin-top: 8rem;
    color: coral;
}

.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-direction: column;
    margin-top: 2rem;

}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.project img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-box-shadow: 4px 7px 14px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 7px 14px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 7px 14px -6px rgba(0, 0, 0, 0.75);
}

.project-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.project-info h3 {
    font-size: 1.5rem;
}

.project-info p {
    text-align: center;
    width: 400px;
    color: #969696;
}

.project-info span {
    font-weight: 600;
}

.project-btns {}

.project-btns button {
    margin: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #000000;
    color: rgb(255, 94, 14);
    border-radius: 3px;
}
.reverse{
    flex-direction: row-reverse;
}

/* --------------------------------------contact---------------------------------------- */
#contact h2{
    margin-top: 8rem;
    color: coral;
}
.contact-form{
    margin-top: 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-input, .contact-textarea{
    width: 100%;
    height: 50px; 
    border: none;  
    outline: none;
    font-size: 1.2rem;
    border: 1px solid rgba(190, 190, 190, 0.464);
}
.contact-textarea{
   height: 100px;
   resize: none;
}
.contact-btn{}

/* --------------------------------------mobile---------------------------------------- */
@media (max-width: 767px) {

    .navbar nav {
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        width: 100%;
        min-height: 300px;
        padding: 30px;

        top: 68px;
        right: -100%;

        background: rgb(255, 181, 69);

        transition: all 1s ease;
    }

    .navbar .nav-item {
        color: rgb(10, 12, 13);
        margin: 10px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .show {
        display: block;
    }


    #home {
        grid-template-columns: 1fr;

    }

    .stack {
        flex-direction: column;
        margin: 20px;
    }

    .stack div img {
        width: 30px;
    }

    .home-info {
        margin-top: 7rem;
    }

    .home-info h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .home-info h2 span {
        font-size: 2rem;
    }

    .home-image {
        width: 180px;
    }

    .about-info {
        flex-direction: column;
        gap: 2rem;
    }

    #about h2 {
        margin-top: 8rem;
        text-align: center;
    }

    .about-info img {
        width: 150px;
    }

    #projects h2    {
        margin-top: 8rem;
    }

    .project {
        padding:  1rem;
        flex-direction: column;
        -webkit-box-shadow: 4px 7px 14px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 7px 14px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 7px 14px -6px rgba(0, 0, 0, 0.75);
    }

    .project img {
        -webkit-box-shadow: 4px 7px 14px -200px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 7px 14px -200px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 7px 14px -200px rgba(0, 0, 0, 0.75);
    }
}